.list{
    color: #fff;
    width: 90%;
    margin: 20px auto;
    height: 50px;
    background-color: #2B7A78;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
    flex: 1;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.dltBtn{
    margin: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #bf0707;
    flex: 0;
}
